section {
  background: #edf6ff; /* Цвет фона */
  padding: 10px; /* Поля */
  border: 2px solid #ff761a; /* Параметры рамки */
  width: 400px;
  margin left: 10px; /* Отступы */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
li {
  font-style: italic;
}
h2 {
  text-align: center;
  background: #edf6ff; /* Цвет фона */
  padding: 20px; /* Поля */
  border: 2px solid #ff761a; /* Параметры рамки */
  width: 350px;
}
img {
  width: 100px;
  height: 150px;
  position: left;
  margin left: 5px;
    margin right: 20px;
    float: right;
}
span{
text-decoration: line-through;  
}
